# Extract Initial Data from 311 Service Data (1 Months) to Apache Spark

In [21]:
import os
import sys
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable
#os.environ["PYSPARK_SUBMIT_ARGS"] = "--jars /Users/denisesonia/postgresql-42.2.24.jar"

In [22]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Intro to Apache Spark") \
    .config("spark.cores.max", "4") \
    .config('spark.executor.memory', '8G') \
    .config('spark.driver.maxResultSize', '8g') \
    .config('spark.kryoserializer.buffer.max', '512m') \
    .config("spark.driver.cores", "4") \
    .getOrCreate()

In [23]:
df = spark.read.format("csv") \
               .options(header='true', inferschema='true', treatEmptyValuesAsNulls='true') \
               .load("311_Service_Requests_from_2010_to_Present.csv")
df.count()

3970852

In [24]:
df.columns

['Unique Key',
 'Created Date',
 'Closed Date',
 'Agency',
 'Agency Name',
 'Complaint Type',
 'Descriptor',
 'Location Type',
 'Incident Zip',
 'Incident Address',
 'Street Name',
 'Cross Street 1',
 'Cross Street 2',
 'Intersection Street 1',
 'Intersection Street 2',
 'Address Type',
 'City',
 'Landmark',
 'Facility Type',
 'Status',
 'Due Date',
 'Resolution Description',
 'Resolution Action Updated Date',
 'Community Board',
 'BBL',
 'Borough',
 'X Coordinate (State Plane)',
 'Y Coordinate (State Plane)',
 'Open Data Channel Type',
 'Park Facility Name',
 'Park Borough',
 'Vehicle Type',
 'Taxi Company Borough',
 'Taxi Pick Up Location',
 'Bridge Highway Name',
 'Bridge Highway Direction',
 'Road Ramp',
 'Bridge Highway Segment',
 'Latitude',
 'Longitude',
 'Location',
 'Zip Codes',
 'Community Districts',
 'Borough Boundaries',
 'City Council Districts',
 'Police Precincts']

In [25]:
coba = df.select("Closed Date", "Created Date")
coba.show()

+-----------+--------------------+
|Closed Date|        Created Date|
+-----------+--------------------+
|       null|04/12/2023 12:00:...|
|       null|04/12/2023 12:00:...|
|       null|04/12/2023 02:07:...|
|       null|04/12/2023 02:06:...|
|       null|04/12/2023 02:06:...|
|       null|04/12/2023 02:06:...|
|       null|04/12/2023 02:05:...|
|       null|04/12/2023 02:05:...|
|       null|04/12/2023 02:05:...|
|       null|04/12/2023 02:04:...|
|       null|04/12/2023 02:03:...|
|       null|04/12/2023 02:02:...|
|       null|04/12/2023 02:02:...|
|       null|04/12/2023 02:02:...|
|       null|04/12/2023 02:01:...|
|       null|04/12/2023 01:59:...|
|       null|04/12/2023 01:59:...|
|       null|04/12/2023 01:58:...|
|       null|04/12/2023 01:58:...|
|       null|04/12/2023 01:58:...|
+-----------+--------------------+
only showing top 20 rows

# Transform the data accordingly

In [26]:
from pyspark.sql.functions import current_timestamp, lower, col, to_date, datediff, coalesce, unix_timestamp, when, lit

# Add a new column with today's date and time
df_raw = df.withColumn('LoadTimestamp', current_timestamp())

# Convert string columns to lowercase
string_columns = ["Agency", "Complaint Type", "Descriptor", "City", "Borough", "Incident Address", "Status"]
for column in string_columns:
    df_raw = df_raw.withColumn(column, lower(col(column)))

# Format Created Date
date_format = "M/d/yyyy h:mm:ss a"
df_raw = df_raw.withColumn("Created Date", to_date(unix_timestamp(col("Created Date"), date_format).cast("timestamp")))

# Format Closed Date
df_raw = df_raw.withColumn("Closed Date", when(col("Closed Date").isNotNull(), to_date(unix_timestamp(col("Closed Date"), date_format).cast("timestamp"))))

# Calculate the difference between Closed Date and Created Date
df_raw = df_raw.withColumn("DaysToClose", when(col("Closed Date").isNull(), 0).when(col("Closed Date") == col("Created Date"), 1).otherwise(datediff(col("Closed Date"), col("Created Date"))))

# Select columns
df_raw = df_raw.select("Unique Key", "Agency", "Complaint Type", "Location", "Status", "Closed Date", "Created Date", "DaysToClose", "LoadTimestamp")

# Show DataFrame
df_raw.show()

+----------+------+--------------------+--------------------+-----------+-----------+------------+-----------+--------------------+
|Unique Key|Agency|      Complaint Type|            Location|     Status|Closed Date|Created Date|DaysToClose|       LoadTimestamp|
+----------+------+--------------------+--------------------+-----------+-----------+------------+-----------+--------------------+
|  57288544|  dsny|   derelict vehicles|(40.8634631045716...|       open|       null|  2023-04-12|          0|2023-04-17 14:57:...|
|  57290182|  dsny|   derelict vehicles|(40.5942555419964...|       open|       null|  2023-04-12|          0|2023-04-17 14:57:...|
|  57282889|  nypd| noise - residential|(40.6975045385544...|in progress|       null|  2023-04-12|          0|2023-04-17 14:57:...|
|  57290428|   dot|    street condition|                null|in progress|       null|  2023-04-12|          0|2023-04-17 14:57:...|
|  57289291|  nypd| noise - residential|(40.8688924200005...|in progress|       null|  2023-04-12|          0|2023-04-17 14:57:...|
|  57284702|  nypd|  noise - commercial|(40.6522602405300...|in progress|       null|  2023-04-12|          0|2023-04-17 14:57:...|
|  57289469|   edc|  noise - helicopter|(40.7821068766108...|in progress|       null|  2023-04-12|          0|2023-04-17 14:57:...|
|  57286327|  nypd| noise - residential|(40.7776829950443...|in progress|       null|  2023-04-12|          0|2023-04-17 14:57:...|
|  57289680|   dhs|homeless person a...|(40.7576353598037...|in progress|       null|  2023-04-12|          0|2023-04-17 14:57:...|
|  57289443|  nypd|    blocked driveway|(40.6063894049118...|in progress|       null|  2023-04-12|          0|2023-04-17 14:57:...|
|  57282676|  nypd| noise - residential|(40.8200308130152...|in progress|       null|  2023-04-12|          0|2023-04-17 14:57:...|
|  57284467|   edc|  noise - helicopter|(40.6691713945073...|in progress|       null|  2023-04-12|          0|2023-04-17 14:57:...|
|  57286491|  nypd|noise - street/si...|(40.6522629776367...|in progress|       null|  2023-04-12|          0|2023-04-17 14:57:...|
|  57285033|  nypd|  noise - commercial|(40.8087546493578...|in progress|       null|  2023-04-12|          0|2023-04-17 14:57:...|
|  57288616|  nypd|noise - street/si...|(40.6770266293484...|in progress|       null|  2023-04-12|          0|2023-04-17 14:57:...|
|  57288715|  nypd|noise - street/si...|(40.7336333676163...|in progress|       null|  2023-04-12|          0|2023-04-17 14:57:...|
|  57283638|  nypd| noise - residential|(40.8622502737354...|in progress|       null|  2023-04-12|          0|2023-04-17 14:57:...|
|  57285474|   edc|  noise - helicopter|(40.6691713945073...|in progress|       null|  2023-04-12|          0|2023-04-17 14:57:...|
|  57287571|  nypd| noise - residential|(40.6945602623580...|in progress|       null|  2023-04-12|          0|2023-04-17 14:57:...|
|  57283755|  nypd|     illegal parking|(40.6882715421899...|in progress|       null|  2023-04-12|          0|2023-04-17 14:57:...|
+----------+------+--------------------+--------------------+-----------+-----------+------------+-----------+--------------------+
only showing top 20 rows

In [27]:
from pyspark.sql.functions import hash, abs

# Select the columns to check for uniqueness
loc = ['Location']

# Create a new DataFrame with only unique rows based on the selected columns
loc_df = df.drop_duplicates(loc)

# Select specific columns
loc_df = loc_df.withColumn('LocID', abs(hash("Location")))
loc_df = loc_df.select("LocID", "Location", "Latitude", "Longitude", "Incident Zip", "Incident Address", "Borough", "City")
loc_df.show()

+----------+--------------------+------------------+------------------+------------+--------------------+-------------+-------------+
|     LocID|            Location|          Latitude|         Longitude|Incident Zip|    Incident Address|      Borough|         City|
+----------+--------------------+------------------+------------------+------------+--------------------+-------------+-------------+
| 374147409|(40.4989488461683...|40.498948846168354| -74.2443650809073|       10307|                null|STATEN ISLAND|STATEN ISLAND|
|1114679381|(40.4989657939184...| 40.49896579391845|-74.24154617399876|       10307| 457 BRIGHTON STREET|STATEN ISLAND|STATEN ISLAND|
|2078495998|(40.4990929527163...|40.499092952716396|-74.24371839403513|       10307|   235 BILLOP AVENUE|STATEN ISLAND|STATEN ISLAND|
|   9578222|(40.4993188749562...| 40.49931887495625|-74.24071685602676|       10307|442 MANHATTAN STREET|STATEN ISLAND|STATEN ISLAND|
| 243960583|(40.4994039565189...| 40.49940395651891|-74.24072075795043|       10307|437 MANHATTAN STREET|STATEN ISLAND|STATEN ISLAND|
| 502835220|(40.499425127526,...|   40.499425127526|-74.23978596570532|       10307|   678 YETMAN AVENUE|STATEN ISLAND|STATEN ISLAND|
|1361677421|(40.4996527814213...| 40.49965278142133|-74.23986588657068|       10307|   662 YETMAN AVENUE|STATEN ISLAND|STATEN ISLAND|
|1468304012|(40.4997206371793...| 40.49972063717932| -74.2389168747568|       10307| 712 ROCKAWAY STREET|STATEN ISLAND|STATEN ISLAND|
| 657237614|(40.4997874353593...|40.499787435359316|-74.24369935121653|       10307|     615 MAIN STREET|STATEN ISLAND|STATEN ISLAND|
|1186575410|(40.5000251163958...|40.500025116395854|-74.23901145031695|       10307|                null|STATEN ISLAND|STATEN ISLAND|
|1455416977|(40.5000320198810...|40.500032019881004|-74.24096033383314|       10307|426 MANHATTAN STREET|STATEN ISLAND|STATEN ISLAND|
| 982899598|(40.5001417292079...| 40.50014172920792|-74.24100028172076|       10307|420 MANHATTAN STREET|STATEN ISLAND|STATEN ISLAND|
| 599597407|(40.5002081650407...| 40.50020816504078|-74.23810239506855|       10307|  370 LORETTO STREET|STATEN ISLAND|STATEN ISLAND|
|1026560197|(40.5007803380598...|40.500780338059826|-74.24404096762314|       10307|     565 MAIN STREET|STATEN ISLAND|STATEN ISLAND|
| 803418378|(40.5009453917281...| 40.50094539172813|-74.24127285795284|       10307|376 MANHATTAN STREET|STATEN ISLAND|STATEN ISLAND|
|1808325387|(40.5012641402754...|40.501264140275495|  -74.238480112834|       10307|  378 LORETTO STREET|STATEN ISLAND|STATEN ISLAND|
|  19538194|(40.5014980070800...| 40.50149800708001|-74.23953090860965|       10307| 636 ROCKAWAY STREET|STATEN ISLAND|STATEN ISLAND|
|1665692621|(40.5015378924183...|  40.5015378924183|-74.24145478391593|       10307|343 MANHATTAN STREET|STATEN ISLAND|STATEN ISLAND|
| 262991418|(40.5016693579281...| 40.50166935792814|-74.24418444721569|       10307| 627 CLERMONT AVENUE|STATEN ISLAND|STATEN ISLAND|
|1813615779|(40.5017819534240...| 40.50178195342406|-74.24156353845589|       10307|330 MANHATTAN STREET|STATEN ISLAND|STATEN ISLAND|
+----------+--------------------+------------------+------------------+------------+--------------------+-------------+-------------+
only showing top 20 rows

In [28]:
# Register DataFrames as temporary tables in Spark SQL
loc_df.createOrReplaceTempView("loc_df")
df_raw.createOrReplaceTempView("df_raw")

In [30]:
joined_df = spark.sql("""
    SELECT `Unique Key`, Agency, `Complaint Type`, Status, `Closed Date`, `Created Date`, LoadTimestamp, DaystoClose, a.LocID as location_id
    FROM df_raw d
    JOIN loc_df a ON d.Location= a.Location
""")
joined_df.show()

+----------+------+--------------------+-----------+-----------+------------+--------------------+-----------+-----------+
|Unique Key|Agency|      Complaint Type|     Status|Closed Date|Created Date|       LoadTimestamp|DaystoClose|location_id|
+----------+------+--------------------+-----------+-----------+------------+--------------------+-----------+-----------+
|  56587544|   dot|street light cond...|     closed| 2023-01-21|  2023-01-21|2023-04-17 14:59:...|          1|  374147409|
|  54620423|   dot|street light cond...|     closed| 2022-06-27|  2022-06-27|2023-04-17 14:59:...|          1|  374147409|
|  54619140|   dot|street light cond...|     closed| 2022-06-27|  2022-06-27|2023-04-17 14:59:...|          1|  374147409|
|  55742971|   dpr|    new tree request|     closed| 2022-11-09|  2022-10-19|2023-04-17 14:59:...|         21| 1114679381|
|  55582634|   dpr|    new tree request|     closed| 2022-11-09|  2022-10-02|2023-04-17 14:59:...|         38| 1114679381|
|  54889706|   dep|               sewer|     closed| 2022-07-24|  2022-07-24|2023-04-17 14:59:...|          1| 2078495998|
|  52978300|  dsny|request large bul...|     closed| 2022-01-07|  2022-01-05|2023-04-17 14:59:...|          2| 2078495998|
|  53158875|  dsny|request large bul...|     closed| 2022-01-28|  2022-01-24|2023-04-17 14:59:...|          4|    9578222|
|  52954054|  dsny|request large bul...|     closed| 2022-01-07|  2022-01-03|2023-04-17 14:59:...|          4|    9578222|
|  56669574|  nypd|   abandoned vehicle|     closed| 2023-01-31|  2023-01-31|2023-04-17 14:59:...|          1|  243960583|
|  55745738|   dpr|    new tree request|in progress|       null|  2022-10-19|2023-04-17 14:59:...|          0|  243960583|
|  55651425|  dsny|electronics waste...|     closed| 2022-10-12|  2022-10-09|2023-04-17 14:59:...|          3|  502835220|
|  55742963|   dpr|    new tree request|in progress|       null|  2022-10-19|2023-04-17 14:59:...|          0| 1361677421|
|  53919856|   dpr| illegal tree damage|     closed| 2022-05-14|  2022-04-14|2023-04-17 14:59:...|         30| 1468304012|
|  55894188|  dsny|   missed collection|     closed| 2022-11-09|  2022-11-04|2023-04-17 14:59:...|          5|  657237614|
|  53182054|  dsny|electronics waste...|     closed| 2022-01-27|  2022-01-26|2023-04-17 14:59:...|          1|  657237614|
|  53487885|   dot|street light cond...|     closed| 2022-02-28|  2022-02-28|2023-04-17 14:59:...|          1| 1186575410|
|  54882896|   dpr|     dead/dying tree|     closed| 2022-09-12|  2022-07-23|2023-04-17 14:59:...|         51| 1455416977|
|  53603241|   dpr|     dead/dying tree|     closed| 2022-03-10|  2022-03-09|2023-04-17 14:59:...|          1| 1455416977|
|  56357477|   dep|               noise|     closed| 2023-01-01|  2022-12-25|2023-04-17 14:59:...|          7|  982899598|
+----------+------+--------------------+-----------+-----------+------------+--------------------+-----------+-----------+
only showing top 20 rows

# Load the data to PostgreSQL

In [28]:
!pip3 install -U "psycopg[binary]"

Requirement already satisfied: psycopg[binary] in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (3.1.8)
Requirement already satisfied: typing-extensions>=4.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from psycopg[binary]) (4.5.0)
Collecting psycopg-binary<=3.1.8,>=3.1.6
  Downloading psycopg_binary-3.1.8-cp310-cp310-macosx_11_0_arm64.whl (2.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 9.1 MB/s eta 0:00:00:00:010:010m
Installing collected packages: psycopg-binary
Successfully installed psycopg-binary-3.1.8

In [31]:
#Connect the PostgreSQL Database called task_2
import psycopg, os

print('Connecting to the PostgreSQL database...')
conn = psycopg.connect(
    host="localhost",
    port='5432',
    dbname="311_service_data",
    user="postgres",
    password="123")

Connecting to the PostgreSQL database...

In [32]:
# create a cursor
cur = conn.cursor()

In [33]:
create_location = """ CREATE TABLE location (
              "LocID" INT PRIMARY KEY NOT NULL, 
              "Location" VARCHAR(300) NOT NULL, 
              "Latitude" DOUBLE PRECISION, 
              "Longitude" DOUBLE PRECISION,
              "Incident Zip" INT, 
              "Incident Address" VARCHAR(500),
              "Borough" VARCHAR(30),
              "City" VARCHAR(20)
                )
            """
    
cur.execute(create_location)
conn.commit()

In [34]:
conn.rollback()

In [35]:
create_main = """ CREATE TABLE main_request (
              "Unique Key" INT PRIMARY KEY NOT NULL, 
              "Agency" VARCHAR(30), 
              "Complaint Type" VARCHAR(100),
              "Descriptor" VARCHAR(400),
              "Status" VARCHAR(200),
              "Closed Date" DATE, 
              "Created Date" DATE,
              "LoadTimestamp" TIMESTAMP,
              "location_id" INT NOT NULL 
                )
            """
    
cur.execute(create_main)
conn.commit()

In [73]:
!pip3 install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.9-cp310-cp310-macosx_11_0_arm64.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 11.1 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: typing-extensions>=4.2.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from sqlalchemy) (4.5.0)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-2.0.9

In [76]:
!pip3 install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.6-cp310-cp310-macosx_11_0_arm64.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 8.8 MB/s eta 0:00:00a 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.6

In [36]:
# PostgreSQL connection properties
db_url = "jdbc:postgresql://localhost:5432/311_service_data"
table_name = "location"
properties = {
    "user": "postgres",
    "password": "123",
    "driver": "org.postgresql.Driver"
}

# Write the DataFrame to PostgreSQL
loc_df.write.jdbc(url=db_url, table=table_name, mode="overwrite", properties=properties)

In [37]:
# PostgreSQL connection properties
db_url = "jdbc:postgresql://localhost:5432/311_service_data"
table_name = "main_request"
properties = {
    "user": "postgres",
    "password": "123",
    "driver": "org.postgresql.Driver"
}

# Write the DataFrame to PostgreSQL
joined_df.write.jdbc(url=db_url, table=table_name, mode="overwrite", properties=properties)

In [85]:
conn.rollback()

In [38]:
import pandas as pd
query = "SELECT * FROM location;"
cur.execute(query)
data = cur.fetchall()

column_names = [desc[0] for desc in cur.description]
df = pd.DataFrame(data, columns=column_names)

print(df)

             LocID                                  Location   Latitude  \
0               42                                      None        NaN
1       2134162157   (40.49900071077867, -74.24060424632607)  40.499001
2       1624883563  (40.499378540887335, -74.23974984219767)  40.499379
3        380950840    (40.4997508076291, -74.23892776954874)  40.499751
4       1417674560   (40.50014121024302, -74.24384446800241)  40.500141
...            ...                                       ...        ...
668178  1815532003  (40.908129374877475, -73.90000546783567)  40.908129
668179   985138399   (40.90866525712599, -73.90078248376851)  40.908665
668180  1198277803   (40.90875661114392, -73.90169402865659)  40.908757
668181   295844999  (40.911065649519074, -73.89939685885678)  40.911066
668182   829719397   (40.91165661257873, -73.89725414322062)  40.911657

        Longitude Incident Zip      Incident Address        Borough  \
0             NaN        10016      EAST   39 STREET      MANHATTAN
1      -74.240604        10307  464 MANHATTAN STREET  STATEN ISLAND
2      -74.239750        10307     681 YETMAN AVENUE  STATEN ISLAND
3      -74.238928        10307   710 ROCKAWAY STREET  STATEN ISLAND
4      -74.243844        10307       596 MAIN STREET  STATEN ISLAND
...           ...          ...                   ...            ...
668178 -73.900005        10471        FIELDSTON ROAD          BRONX
668179 -73.900782        10471   6029 TYNDALL AVENUE          BRONX
668180 -73.901694        10471    6031 LIEBIG AVENUE          BRONX
668181 -73.899397        10471  353 WEST  262 STREET          BRONX
668182 -73.897254        10471       SPENCER TERRACE          BRONX

                 City
0                None
1       STATEN ISLAND
2       STATEN ISLAND
3       STATEN ISLAND
4       STATEN ISLAND
...               ...
668178           None
668179          BRONX
668180          BRONX
668181          BRONX
668182          BRONX

[668183 rows x 8 columns]

In [39]:
import pandas as pd

query = "SELECT * FROM main_request LIMIT 10;"
cur.execute(query)
data = cur.fetchall()

column_names = [desc[0] for desc in cur.description]
df = pd.DataFrame(data, columns=column_names)

print(df)

   Unique Key Agency                       Complaint Type  Status Closed Date  \
0    56587544    dot               street light condition  closed  2023-01-21
1    54620423    dot               street light condition  closed  2022-06-27
2    54619140    dot               street light condition  closed  2022-06-27
3    55742971    dpr                     new tree request  closed  2022-11-09
4    55582634    dpr                     new tree request  closed  2022-11-09
5    52978300   dsny  request large bulky item collection  closed  2022-01-07
6    54889706    dep                                sewer  closed  2022-07-24
7    53158875   dsny  request large bulky item collection  closed  2022-01-28
8    52954054   dsny  request large bulky item collection  closed  2022-01-07
9    56669574   nypd                    abandoned vehicle  closed  2023-01-31

  Created Date           LoadTimestamp  DaystoClose  location_id
0   2023-01-21 2023-04-17 15:05:12.984            1    374147409
1   2022-06-27 2023-04-17 15:05:12.984            1    374147409
2   2022-06-27 2023-04-17 15:05:12.984            1    374147409
3   2022-10-19 2023-04-17 15:05:12.984           21   1114679381
4   2022-10-02 2023-04-17 15:05:12.984           38   1114679381
5   2022-01-05 2023-04-17 15:05:12.984            2   2078495998
6   2022-07-24 2023-04-17 15:05:12.984            1   2078495998
7   2022-01-24 2023-04-17 15:05:12.984            4      9578222
8   2022-01-03 2023-04-17 15:05:12.984            4      9578222
9   2023-01-31 2023-04-17 15:05:12.984            1    243960583

In [40]:

delete_duplicates = """ DELETE FROM location t1
                        USING location t2
                        WHERE t1.ctid < t2.ctid
                        AND t1."LocID" = t2."LocID"
                    """

cur.execute(delete_duplicates)
conn.commit()

# Add the primary key constraint to the 'LocID' column
alter_location_primary_key = """ ALTER TABLE location
                                 ADD PRIMARY KEY ("LocID")
                             """

cur.execute(alter_location_primary_key)
conn.commit()

In [41]:
alter_main = """ ALTER TABLE main_request
                ADD CONSTRAINT fk_location_id
                FOREIGN KEY (location_id)
                REFERENCES location("LocID")
            """

cur.execute(alter_main)
conn.commit()